# Environment variables
.env

# Directories
storage/
js/
node_modules/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml